
.App {
  text-align: center;
  background-image: url(./20181228-IMG_7720-1.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  min-height: 100vh;
}

.message {
  position: absolute;
  float: right; 
  right: 0;
  bottom: 0; 
  color: #fff;
  padding: 1.5em;
  font-size: calc(20px + 2vmin);
}