
.App {
  display: flex;
  text-align: center;
  background-image: url(./20181228-IMG_7720-1.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-content: flex-end;
}

.message {
  display: flex;
  align-items: flex-end;
  color: #fff;
  padding: 1.5em;
  margin: 0;
  font-size: calc(20px + 2vmin);
}

.linkmessage {
  display: flex;
  align-items: flex-end;
  color: #fff;
  margin: 1rem;
  font-size: 2rem;
}

.linkwrapper {
  display: flex;
  flex-direction: column;
}
